<h2>Login</h2>

<form method="post">

    <label>Email</label>
    <input type="email" name="email" />

    <br /><br />

    <label>Password</label>
    <input type="password" name="password" />

    <br /><br />

    <button type="submit">Login</button>

</form>

<p>@ViewBag.Message</p>