@model JobBoard.Web.Models.Job

<h2>Post Job</h2>

<form asp-action="Create" method="post">

    <label>Job Title</label>
    <input asp-for="JobTitle" />

    <br /><br />

    <label>Company Name</label>
    <input asp-for="CompanyName" />

    <br /><br />

    <label>Skills Required</label>
    <input asp-for="SkillsRequired" />

    <br /><br />

    <label>Description</label>
    <textarea asp-for="Description"></textarea>

    <br /><br />

    <label>Salary</label>
    <input asp-for="Salary" />

    <br /><br />

    <button type="submit">Save</button>

</form>